.App {
  text-align: center;
  width: 95vw;
  height: 100vh;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#newGameSection {
    position: absolute;
    width: 500px;
    height: 200px;
    float: bottom;
}

#newGameSection button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: navy;
    position: absolute;
    float: bottom;
    bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px; 
}

#newGameSection button:hover {
    opacity: 0.8;
}

#newGameSection button:active {
    opacity: 0.7;
}

table {
    background-color: royalblue;
    position: absolute;
    left: 517px;
    height: auto;
}

table h2 {
    color: white;
    font-size: 3.5em;
}

table tr {
    height: 175px;
    border-color: white;
}

table tr td {
    width: 175px;
    border: 1px solid lightblue;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 4em;
    text-decoration: underline;
    position: flex;
    margin: auto;
}

.highScores {
    position: absolute;
    top: 135px;
    right: 1000px;
    /* width: 300px; */
}

.highScores table {
    width: 400px;
    height: auto;
}