.App {
    text-align: center;
    width: 95vw;
    height: 100%;
    box-sizing: border-box;
}

/* #newGameSection {
    position: absolute;
    height: auto;
    width: auto;
    float: bottom;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
} */

.newGameButton {
    width: 200px;
    height: 50px;
    color: white;
    background-color: navy;
    position: absolute;
    left: 0px;
    right: 60vw;
    top: 16vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.newGameButton:hover {
    opacity: 0.8;
}

.newGameButton:active {
    opacity: 0.7;
}

.gameGrid {
    background-color: royalblue;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: auto;
    max-height: 50%;
    max-width: 50%;
}

.gameGrid h2 {
    color: white;
    font-size: 3.5em;
}

.gameGrid tr {
    height: 175px;
    border-color: white;
}

.gameGrid tr td {
    width: 175px;
    border: 1px solid lightblue;
}

.highScores {
    position: absolute;
    float: right;
    height: auto;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
}

.highScoresTable {
    width: 400px;
    height: auto;
    background-color: royalblue;
    color: white;
    position: absolute;
    left: 65%;
    right: 0px;
    top: 13.5vh;
    margin-right: auto;
    margin-left: auto;
}

.highScoresTable th {
    padding: 10px 5px 5px 3px;
    border-bottom: white 1px solid;
}

.highScoresTable tr {
    padding: 10px 5px;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 4em;
    text-decoration: underline;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
}

@media only screen and (max-width: 600px) {
    .gameGrid {
        background-color: royalblue;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 150px; 
        margin-right: auto;
        margin-left: auto;
        height: 50%;
        width: 50%;
        max-height: 400px;
        max-width: 400px;
    }
}